<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<style>
		body {
			font-family: Georgia, serif;
			margin: 1.2cm;
		}

		.header {
			display: flex;
			justify-content: space-between;
		}

		.from {
			font-family: Calibri, sans-serif;
		}

		.flex-column {
			display: flex;
			flex-direction: column;
			gap: 8px;
		}
	</style>
</head>

<body>
	<div class="header" style="margin-bottom: 16px;">
		<img width="220px" src="<%= headerImg %>">
		<div class="flex-column from" style="margin-top: 12px;">
			<i>Art & Gift Market and Silent Auction</i>
			<i>Funding the many missions of </i>
			<i><b>A</b>pex <b>U</b>nited <b>M</b>ethodist <b>C</b>hurch</i>
			<i>100 South Hughes Street, Apex NC 27502</i>
		</div>
	</div>
	<div>

	</div>
	<div>
		<p>Dear <%= recipient %>,</p>
		<p>As you know, Apex United Methodist Church is home to a host of
			mission projects from A to Z: our youth Apex
			Outreach Service Project to our support of global missions through
			ZOE team who empower orphans in Africa &
			India - as well as our support of local food banks, Red Cross,
			Western Wake Crisis Ministry, Feed the Kids, after
			school tutoring and more!</p>
		<p>These programs require a small army of volunteers who share their
			time and talents, but these projects also need
			funding. Our 8th Annual Art & Gift Market aims to raise these
			critical dollars. In addition to featuring 40+ artist
			and mission-centered booths, our annual event has come to be known
			for its spectacular silent auction.</p>
		<p>
			And so, I turn to you in hopes of securing a bit of help. Thank you
			for your past support of the silent auction
			with your 2024 gift a sundae bar! , it made a very popular entry for
			our auction! Would you be able to support
			us again this year with a donation?
		</p>
		<p>
			Hopefully, this letter will allow you time to consider our request
			and respond by September 30th. That way you
			can either cheer us on from the sidelines or let us know what we
			need to do to receive any gift you might be able
			to share at a time/day convenient for you.
		</p>
		<p>
			If you are able to support us, please know your donation will be
			part of our online silent auction, which will be
			open from late summer for browsing. The real fun begins on October
			18, when the first bids come in, and runs
			through the day of the Market on November 1st. Please know we are a
			501(c)3 [#56-1158859] and will joyfully
			celebrate your donation both online and in-person.</p>
		<p>
			Thank you very much for your consideration - and hopefully, your
			donation. Until we hear from you, we wish
			you every good fortune these cooler days of fall have to share.</p>
	</div>
</body>

</html>