<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<style>
		body {
			font-family: Georgia, serif;
			margin: 1.2cm;
		}

		.header {
			display: flex;
			justify-content: space-between;
		}

		.from {
			font-family: Calibri, sans-serif;
		}

		.flex-column {
			display: flex;
			flex-direction: column;
			gap: 8px;
		}
	</style>
</head>

<body>
	<div class="header" style="margin-bottom: 16px;">
		<img width="220px" src="<%= headerImg %>">
		<div class="flex-column from" style="margin-top: 12px;">
			<i>Art & Gift Market and Silent Auction</i>
			<i>Funding the many missions of </i>
			<i><b>A</b>pex <b>U</b>nited <b>M</b>ethodist <b>C</b>hurch</i>
			<i>100 South Hughes Street, Apex NC 27502</i>
		</div>
	</div>
	<div>

	</div>
	<div>
		<p>Dear <%= recipient %>,</p>
		<p>As you know, Apex United Methodist Church is home to a host of
			mission projects from A to Z: our youth Apex
			Outreach Service Project to our support of global missions through
			ZOE team who empower orphans in Africa &
			India - as well as our support of local food banks, Red Cross,
			Western Wake Crisis Ministry, Feed the Kids, after
			school tutoring and more!</p>
	</div>
</body>

</html>